@charset "utf-8";

/* CSS Document */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.App-header{
  margin: 1%;
}
.top-heading, .sub-heading{
  color: yellowgreen;
  text-align: center;
  margin: 0;
}
.sub-heading{
  margin-left: 5%;
}